build/
iso_root/
dist/
*.o
*.a
*.elf
*.bin
*.iso
*.map
*.cue
*.log
*.tmp
*.cache
__pycache__/
*.pyc
.pytest_cache/
out/
toolchain-src/
!ip.bin
emulators/kronos/*.exe
emulators/kronos/*.dll
emulators/kronos/*.zip
emulators/mednafen/*.zip
emulators/mednafen/*.7z
emulators/mednafen/run-mednafen.ps1
emulators/kronos/run-kronos.ps1
bios/
